<!DOCTYPE html>
<html>
<head>
  <title>Donethat</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="container_12">
    <div class="grid_12" id="header">
    </div>
    <div class="clear"></div>

    <div class="grid_10">
      <div id='content'>
      <% if flash[:alert] %>
        <p><%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
    </div>

    <div class="grid_2">
      <% if user_signed_in? %>
        <div id='nav'>
          <%= link_to "Projects", projects_path %>
          <%= link_to "Users", users_path %>
          <%= link_to "Events",   events_path %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
          <p>
           <%= current_user.email %>
           </p>
        </div>
      <% else %>
        <div id='nav'>
          <%= link_to "Projects", projects_path %>
          <%= link_to "Sign in", new_user_session_path %>
        </div>
      <% end %>
    </div>

    <div class="clear"></div>

  </div>




</body>
</html>

